.margin-top {
  margin-top: 21px;
}
.select {
  text-transform: capitalize;
  width: 425px;
  height: 50px;
  font-size: 14px;
  border-radius: 4px;
  padding-left: 20px;
  color: #050417;
  box-shadow: 1px 7px 3px -4px #D5D7E5;
}