.margin-top {
  margin-top: 87px;
}
.button {
  background: #2A2B8D;
  border-radius: 25px;
  width: 246px;
  height: 50px;
  font-size: 14px;
  letter-spacing: 0.1em;
  border: 0;
  font-weight: bolder;
  color: #FFFFFF;
  cursor: pointer;
}
.button:hover {
  filter: brightness(150%);
}
.button:disabled {
  cursor: not-allowed;
  filter: brightness(50%);
}