.container {
  position: relative;
  height: 100vh;
  width: 100%;
  background: white;
}

.listWrapper {
  margin-top: 160px;
  margin-left: 20px;
  column-count: 3;
  column-gap: 1em;
}
.list-item {
  display: inline-block;
  margin: 10px;
  width: 100%;
}
.item-modal {
  margin-top: -9%;
  width: 50%;
  height: 60vh;
  background-color: #fff;
  border-radius: 10px;
}

.modal-image {
  margin: 20px;
  text-align: center;
  width: 95%;
  height: 20em;
}
.user {
  display: flex;
  margin: 5px 20px;
}
.user-image {
  height: 60px;
  width: 60px;
  border-radius: 40px;
  margin-top: 8px;
}
.user-detail {
  margin-left: 10px;
  margin-top: -10px;
}
.user-name {
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  line-height: 15px;
}
.extra-line {
  line-height: 50px;
}
.user-portfolio {
  color: #2A2B8D;
  font-weight: bold;
  font-size: 15px;
}
.download {
  margin-left: auto;
  background: #FFFFFF;
  border: 2px solid #2A2B8D;
  box-sizing: border-box;
  border-radius: 10px;
  width: 200px;
  height: 60px;
  color: #2A2B8D;
  padding: 20px;
  display: flex;

}
.download-svg {
  margin-right: auto;
}
.download-text {
  margin-left: auto;
  font-size: 18px;
  font-weight: bold;
  line-height: 13px;
}