.container {
  position: relative;
  height: 100vh;
  width: 100%;
  background: white;
}

.listWrapper {
  margin-top: 160px;
  margin-left: 20px;
  column-count: 3;
  column-gap: 1em;
}
.list-item {
  display: inline-block;
  margin: 10px;
  width: 100%;
}

.item-modal {
  margin-top: -9%;
  width: 50%;
  height: 60vh;
  background-color: #fff;
  border-radius: 10px;
}

.modal-image {
  margin: 20px;
  text-align: center;
  width: 95%;
  height: 20em;
}
.user {
  display: flex;
  margin: 5px 20px;
}
.user-image {
  height: 60px;
  width: 60px;
  border-radius: 40px;
  margin-top: 8px;
}
.user-detail {
  margin-left: 10px;
  margin-top: -10px;
}
.user-name {
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  line-height: 15px;
}
.extra-line {
  line-height: 50px;
}
.user-portfolio {
  color: #2A2B8D;
  font-weight: bold;
  font-size: 15px;
}
.download {
  margin-left: auto;
  background: #FFFFFF;
  border: 2px solid #2A2B8D;
  box-sizing: border-box;
  border-radius: 10px;
  width: 200px;
  height: 60px;
  color: #2A2B8D;
  padding: 20px;
  display: flex;

}
.download-svg {
  margin-right: auto;
}
.download-text {
  margin-left: auto;
  font-size: 18px;
  font-weight: bold;
  line-height: 13px;
}


@media only screen and (max-width: 1355px) and (min-width: 930px) {
  .listWrapper {
    column-count: 2;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 930px) {
  .listWrapper {
    margin-top: 360px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .modal-image  {
    width: 90%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 930px) {
  .listWrapper {
    margin-top: 360px;
    column-count: 1;
  }
  .modal-image  {
    width: 88%;
  }
  .item-modal {
    height: 70vh;
  }
  .download {
    position: absolute;
    bottom: 22%;
    left: 35%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 930px) {
  .user-portfolio {
    font-size: 10px;
  }
  .download {
    right: 28%;
    width: 142px;
    bottom: 26%;
  }
}

@media only screen and (max-width: 425px) {
  .listWrapper {
    margin-top: 360px;
    column-count: 1;
  }
  .modal-image  {
    width: 95%;
    margin: 6px;
  }
  .item-modal {
    height: 78vh;
    width: 96%;
  }
  .download {
    bottom: 20%;
    left: 20%;
    position: absolute;
  }
}